body {
    background: rgb(255, 255, 255);
}



nav {
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    padding: 25px 0px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.centercolumn {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    padding-top: 30px;
}

.containeur {
    margin: 100px;
}

.sikindoTaekwonkidoAccueil {
    text-align: center;
    column-count: 2;
}

.titresinikido {
    color: black;
    text-align: center;
}

.psin {
    font-size: 20px;
    text-align: center;
    color: black;
    /* border: rgb(56, 56, 56) 2px solid; */
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.titreTaekwonkido {
    text-align: center;
}

.titreTaekwonkido:hover {
    text-align: center;
    color: rgb(98, 98, 101);
}


/* ------------------------------------------------------------------------------- */

.m {
    display: flex;
    flex-direction: row;
}


/* ------------------------------------------------------------------------------- */

.image1 {
    margin-right: 120px;
    display: block;
    max-width: 100%;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
}

.image2 {
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
    margin-left: 100px;
}

.image3 {
    margin-right: 100px;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
    margin-bottom: 20px;
}

.image4 {
    margin-top: 20px;
    margin-right: 60px;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
}

.image5 {
    margin-top: 20px;
    margin-left: 30px;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
}

.image6 {
    margin-top: 20px;
    margin-right: 40px;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
}

.image7 {
    margin-top: 20px;
    margin-left: 40px;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
}

.image8 {
    margin-top: 20px;
    margin-right: 40px;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
}

.image9 {
    margin-top: 20px;
    margin-left: 40px;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
    margin-bottom: 20px;
}

.image10 {
    margin-top: 20px;
    margin-right: 40px;
    /* box-shadow: 10px 5px 5px rgb(90, 89, 89); */
    margin-bottom: 20px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.fab fa-facebook-f {
    color: blue;
    background-color: black;
}

.contact {
    text-align: center;
}

.remi {
    border: rgb(0, 0, 0) solid 5px;
    text-align: center;
    margin-left: 310px;
    margin-right: 310px;
    background-color: black;
    color: white;
}